# Временные файлы и логи
tmp/
*.tmp
*.log
.DS_Store
Thumbs.db

# Данные сервера (Маппинг томов)
# Эти папки содержат почту, БД и реальные сертификаты
data/
mysql/
logs/

# IDE и конфигурации окружения
.vscode/
.idea/
.env

# Файлы сертификатов (на случай если они вне папки data)
*.pem
*.crt
*.key
*.csr

# Интеграция MailAdmin (собирается через скрипт)
/mailadmin/
/update-and-build.sh
/rootfs/opt/mailadmin/mailadmin
/rootfs/var/www/mailadmin/

